@font-face {
    font-family: glaciar;
    src: url("../fonts/GlacialIndifference-Regular.otf");
}

* {
    font-family: glaciar;
    -webkit-user-select: none;
}

body {
    margin: 0;
    padding: 0;
}

/************************************************************/
/* Jumbotron */
.st-jumbotron {
    margin: 0;
}